{{nav-bar tags=model.tags}}

<div class="row">
  {{#each model.tomsters as |tomster|}}
    {{#link-to 'tomster' tomster.id}}{{tomster-tile tomster=tomster}}{{/link-to}}
  {{/each}}
</div>
<hr>
{{new-tag save="save"}}
