{{nav-bar tags=model.tags}}

<div class="row">
  <ul>
  {{#each model.tomsters as |tomster|}}
    <li>{{#link-to 'tomster' tomster.id}}{{tomster-tile tomster=tomster deleteTomster="deleteTomster"}}{{/link-to}}</li>
  {{/each}}
</ul>
</div>
<hr>
{{new-tag save="save"}}
