<div class="container row">
  {{tomster-tile tomster=model}}
  {{new-comment tomster=model addComment="addComment"}}
  <hr>
  <ul>
  {{#each model.comments as |comment|}}
    <li>{{comment.text}}</li>
  {{/each}}
  </ul>
</div>
